body {

  margin: 20px;
  background: black;
  color: aliceblue;

  /* Garante que o body ocupe toda a altura da tela */

}


.naveg ul li a {
  text-decoration: none;
  color: inherit;
  outline: none;
  /* Remove o contorno do link */
}

.naveg ul,
.sobreeu ul {
  list-style-type: none;
  /* Remove as marcações padrão das listas */
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.naveg ul li {
  padding-top: 4px;

}

.naveg ul li:hover {
  background: #007BFF;
  border-radius: 50%;
  color:rgb(0, 0, 0);
  box-shadow: 0 0 10px #c7e2ff41;
}

.naveg {
  position: fixed;
  background: #016cdf;
  box-shadow: -10px 10px 5px #3d3b3b88;
  border-radius: 50%;
  z-index: 1000;
}

#material {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#material #fotomim img {
  display: flex;
  justify-content: center;
  height: 100vh;
  height: 300px;
  width: 300px;
  background-color: lightblue;
  border: 2px solid #007BFF;
  border-radius: 50%;
  /* Forma de círculo */
  font-size: 16px;
  color: #fff;

}

#material #fotomim {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */

}

.sobreeu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgb(0, 0, 0), blue);
  z-index: 1;
  margin-left: -20px;
  /* Compensa a margem do body */
  margin-right: -20px;
}

#sobremim {
  margin-top: 20px;
}

.sobreeu h2 {
  margin-top: 50px;
  font-size: 40px;


}

.sobreeu ul li {
  font-size: 40px;
  background: black;
  width: 100%;
  padding: 5px;
  border-radius: 50%;
}